<%- include("../layouts/header") %>

<h2>Login</h2>
<form action="/auth/login" method="POST">
  <input type="email" name="email" placeholder="Email" required><br>
  <input type="password" name="password" placeholder="Password" required><br>
  <small>Don't Have any Account<a href="/auth/register">Register</a></small><br>
  <button type="submit">Login</button>
</form>

<%- include("../layouts/footer") %>
