<div>
    <a href="/">Home</a>
    <a href="/products/add">Add Product</a>
    <a href="/products/all">All Products</a>
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Login</a>
    <a href="/orders/history">Order History</a>
    <a href="/admin/orders">All Orders</a>
    <!-- <a href="/products/all">All Products</a> -->
</div>  